.vertical-timeline-element {
	color: blue;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
}

.vertical-timeline-element-date {
	color: white;
	font-weight: 900;
	font-size: 2.5rem;
}

.vertical-timeline-element p {
	font-weight: bold;
	color: black;
}

@media only screen and (max-width: 700px) {
	.vertical-timeline-element-date {
		color: black;
	}
}
