* {
	margin: 0;
	padding: 0;
}
.container {
	background: #0e101c;
	font-family: 'Yatra One';
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2rem;
	background-color: white;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
}
