body {
  background: #0e101c;
}

h2{
  font-family: 'Yatra One';
  font-size: 27px; 
}

span{
  font-family: 'Yatra One';
  color: 'yellowgreen';
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;;
  background-color: #f0ece1;
  color: red;
  text-align: center;
  font-family: 'Yatra One';
  font-size: 22px;
  font-weight: bold;
  opacity: 0.9;
  z-index: 2;
}

