.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home-img {
	height: 35rem;
}

.welcome-text {
	text-align: center;
	font-size: 2.5rem;
	color: white;
	letter-spacing: 0.2rem;
}

@media only screen and (max-width: 700px) {
	.home-container {
		justify-content: safe;
	}
	.home-img {
		height: 20rem;
	}
	.welcome-text {
		font-size: 1.5rem;
		padding: 0.7rem;
	}
}
