.portfolio {
  /* margin: 0 auto; */
  /* text-align: center; */
  /* margin-top: 500px;  */
  margin-left: 200px; 
  font-size: 25px;
  display: block;
  /* min-height: 1px; */
  /* width: 100%; */
  /* border: 1px solid #ddd; */
  /* overflow: auto; */
}

h1{
  margin-top: 100px;
  text-align: center; 
}
    