.portfolio {
  text-align: center;
  margin-left: 80px; 
  font-size: 25px;
}

h1{
  font-family: 'Rock Salt', cursive;
  color:#FFA500;
  margin-top: 80px;
  text-align: center; 
  font-size: 40px;
  font-style: oblique;
  text-decoration: underline;
}

@media only screen and (max-width:700px){
  .portfolio{
    margin-left: 50px;
  }
}
    