.vertical-timeline-element {
	color: blue;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
	font-size: 1rem;
}

.vertical-timeline-element-date {
	color: white;
}

.vertical-timeline-element p {
	font-weight: 600;
	color: black;
	font-size: 1rem;
}

@media only screen and (max-width: 700px) {
	.vertical-timeline-element-date {
		color: black;
	}
}
