.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgb(54, 133, 56);
	border-radius: 0.4rem;
	letter-spacing: 0.2rem;
	line-height: 2.5rem;
	min-height: 12rem;
	animation: fade-in 0.4s linear;
}

.close-btn {
	position: absolute;
	font-size: 2rem;
	top: 0.5rem;
	right: 1rem;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.close-btn:hover {
	transform: scale(1.5);
}
