.navbar-container {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	background: rgb(48, 49, 56);
	transition: all 0.5s ease-in-out;
	transform-style: preserve-3d;
	z-index: 1;
}

.navbar-show {
	transform: translateY(0);
}

.navbar-hide {
	transform: translateY(-100%);
}

.navbar-links-contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar-links {
	font-size: 2rem;
	color: white;
	text-align: center;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	padding: 2rem;
}

.navbar-links:hover {
	transform: scale(1.3);
}

.personal-social-profiles {
	display: flex;
	justify-content: center;
	align-items: center;
}
.personal-social-profiles div {
	margin: 2rem;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}

.personal-social-profiles div:hover {
	transform: scale(1.4);
}

#linkedIn-icon {
	color: rgb(1, 132, 255);
}

#instagram-icon {
	color: red;
}

#github-icon {
	color: white;
}

.subash-img {
	position: absolute;
	top: 2rem;
	left: 2rem;
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.subash-img:hover {
	transform: scale(2);
	top: 4rem;
	left: 4rem;
}

.menu-container {
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 1;
	cursor: pointer;
}

.menu-container div {
	height: 0.2rem;
	margin: 0.5rem;
	background-color: white;
	transition: all 0.4s ease-in-out;
}

.burger-line-one {
	width: 1rem;
}

.burger-line-two {
	width: 1.5rem;
}

.burger-line-three {
	width: 2.5rem;
}

.burger-line-one-clicked {
	width: 2.5rem;
	transform: rotate(-45deg) translate(-1rem, 1rem);
}

.burger-line-two-clicked {
	width: 0;
	opacity: 0;
}

.burger-line-three-clicked {
	width: 2.5rem;
	transform: rotate(45deg);
}
