.portfolio-container {
	display: flex;
	flex-direction: column;
}

.portfolio-collections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin: 2rem;
	cursor: pointer;
	background: linear-gradient(45deg, #06994b, #8f8f2b, #06994b);
	opacity: 0.9;
}

.portfolio-title {
	margin: 1rem;
	font-size: 1.5rem;
	color: white;
	letter-spacing: 0.2rem;
}

.portfolio-img {
	height: 15rem;
	width: 18rem;
}

.portfolio,
.portfolio-img,
.portfolio-title,
.portfolio-btn {
	margin: 1rem;
	border-radius: 1rem;
	transition: all 0.5s ease-in-out;
}

.portfolio-btn {
	cursor: pointer;
	outline: none;
	background: #0e101c;
	min-height: 2rem;
	width: 95%;
	text-transform: uppercase;
}

.btn-links {
	text-decoration: none;
	color: white;
	letter-spacing: 0.2rem;
}

.portfolio-btn:hover {
	background: linear-gradient(90deg, rgb(16, 33, 27), rgb(9, 163, 91));
}

.flip {
	transform: translateY(-1rem) scale(1.05);
}

@media only screen and (max-width: 700px) {
	.portfolio {
		margin: 1rem;
		width: 75%;
		text-align: center;
	}
	.portfolio-title {
		font-size: 1.2rem;
	}
}
